<a href="https://colab.research.google.com/github/YuriyZaliznyuk/Python-200-plus-exercises/blob/main/basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
p = 'Python'
v = '3.8'
print(f'I an using {p} version {v}')

I an using Python version 3.8

In [ ]:
pi = 3.1415926535
print(f'Pi: {pi:.2f}')

Pi: 3.14

In [ ]:
print('summer', 'time', 'holiday', sep='#')

summer#time#holiday

In [ ]:
print('summer', 'time', 'holiday', sep='#')

summer#time#holiday

In [ ]:
sum = 0
for n in range(1, 11):
  print(10 + 4*n)

14
18
22
26
30
34
38
42
46
50

In [ ]:
a = 1
b = 5
c = 4
s = -b/a
p = c/a
print('x1 + x2 =', s)
print('x1x2 =', p)

x1 + x2 = -5.0
x1x2 = 4.0

In [ ]:
print(f'The middle point: ({(2 - 4)/2}, {(4 + 6)/2})')

The middle point: (-1.0, 5.0)

In [ ]:
from math import sqrt

x1 = 3
y1 = 2
x2 = -1
y2 = -1
d = sqrt((x1 - x2)**2 + (y1 - y2)**2)
print(f'The distance between A and B: {d}')

The distance between A and B: 5.0

In [ ]:
a = 1
b = 5
c = 4
x1 = (-b - (b**2 - 4*a*c)**(1/2))/(2*a)
x2 = (-b + (b**2 - 4*a*c)**(1/2))/(2*a)
print(f'x1 = {x1}')
print(f'x2 = {x2}')

x1 = -4.0
x2 = -1.0

In [ ]:
a, b, c = 10, 11, 9
m = (a + b + c)/3
d = (((a - m)**2 + (b - m)**2 + (c - m)**2)/3)**(1/2)
print(f'The standard deviation: {d:.2f}')

The standard deviation: 0.82

In [ ]:
filename = 'view.jpg'
print(filename[-3:])

jpg

In [ ]:
string = 'PKV-89415-PLN'
print(string[:3] + string[-3:])

PKVPLN

In [ ]:
var1 = ''
var2 = ' '
var3 = '\n'
 
print(type(var1))
print(type(var2))
print(type(var3))

<class 'str'>
<class 'str'>
<class 'str'>

In [ ]:
var1 = None
var2 = False
var3 = 'True'
print(type(var1))
print(type(var2))
print(type(var3))

<class 'NoneType'>
<class 'bool'>
<class 'str'>

In [ ]:
code1 = 'FVNISJND-20'
code2 = 'FVNISJND20'
code1.al

In [ ]:
text = '  Google Colab   '
print(text.strip())

Google Colab

In [ ]:
string = "analytics vidhya is the Largest data science Community"
print(string.title())

Analytics Vidhya Is The Largest Data Science Community

In [ ]:
myDict = {"name": "Analytics Vidhya", "country": "India", "Technology": "Data Science"}
mySeparator = "TEST"
x = mySeparator.join(myDict)
print(x)

nameTESTcountryTESTTechnology

In [ ]:
url = 'https://e-smartdata.teachable.com/p/sciezka-data-scientist-machine-learning-engineer'
print((url.split('/')[-1]).replace('-', ' '))

sciezka data scientist machine learning engineer

In [ ]:
text = 'Programming in python.'
vowels = {'a', 'e', 'i', 'o', 'u'}

a = text.lower()
b = a.replace(' ', '').replace('.', '')
letters = set(b)
letters = letters.difference(vowels)
print(f'Number of items: {len(letters)}')

Number of items: 8

In [ ]:
A = {2, 4, 6, 8}
B = {4, 10}
print(f'Symetric difference: {A.symmetric_difference(B)}')

Symetric difference: {2, 6, 8, 10}

In [ ]:
dji1 = ('AAPL.US', 'IBM.US', 'MSFT.US')
dji2 = ('HD.US', 'GS.US', 'NKE.US')

t = dji1 + dji2
t

('AAPL.US', 'IBM.US', 'MSFT.US', 'HD.US', 'GS.US', 'NKE.US')

In [ ]:
info = (('Monica', 19), ('Tom', 21), ('John', 18))
asc = tuple(sorted(info, key=lambda item: item[1]))
desc = tuple(sorted(info, key=lambda item: item[1], reverse=True))
print(f'Ascending: {asc}')
print(f'Descending: {desc}')

Ascending: (('John', 18), ('Monica', 19), ('Tom', 21))
Descending: (('Tom', 21), ('Monica', 19), ('John', 18))

In [ ]:
cities = ['Los Angeles', 'New York', 'Chicago']
cities.append('Houston')
cities

['Los Angeles', 'New York', 'Chicago', 'Houston']

In [ ]:
text = 'Python programming'
a = text.lower()
l = list(a)
l.remove(' ')
s = set(l)
l = sorted(set(s))
print(l)

['a', 'g', 'h', 'i', 'm', 'n', 'o', 'p', 'r', 't', 'y']

In [ ]:
filenames = ['view.jpg', 'bear.jpg', 'ball.png']
filenames.insert(0, 'phone.jpg')
filenames.remove('ball.png')
print(filenames)

['phone.jpg', 'view.jpg', 'bear.jpg']

In [ ]:
day1 = ['3984', '9042', '4829', '2380']
day2 = ['4231', '5234', '1345', '2455']
day1.extend(day2)
print(day1)

['3984', '9042', '4829', '2380', '4231', '5234', '1345', '2455']

In [ ]:
hashtags = ['summer', 'time', 'vibes']
hashtags.append('#')
s = str(hashtags)
s

"['summer', 'time', 'vibes', '#']"

In [ ]:
T = (10, 20, 30, 40, 50, 40)
for z in T:
  print(z)

10
20
30
40
50
40

In [ ]:
capitals = {
    'USA': 'Washington',
    'Germany': 'Berlin',
    'Austria': 'Vienna'
}
print(capitals.keys())

dict_keys(['USA', 'Germany', 'Austria'])

In [ ]:
stocks = {
    'MSFT.US': {'Microsoft Corp': 184},
    'AAPL.US': {'Apple Inc': 310},
    'MMM.US': {'3M Co': 148}
}
stocks['MSFT.US']['Microsoft Corp'] = 190
print(stocks['MSFT.US']['Microsoft Corp'])

190

In [ ]:
stocks = {
    'MSFT.US': {'Microsoft Corp': 184},
    'AAPL.US': {'Apple Inc': 310},
    'MMM.US': {'3M Co': 148}
}
stocks['V.US'] = {'Visa Inc': 185}
print(stocks.values())

dict_values([{'Microsoft Corp': 184}, {'Apple Inc': 310}, {'3M Co': 148}, {'Visa Inc': 185}])

In [ ]:
tickers = [
    'AAPL.US', 'AXP.US', 'BA.US', 'CAT.US',
    'CSCO.US', 'CVX.US', 'DIS.US', 'DOW.US',
    'GS.US', 'HD.US', 'IBM.US', 'INTC.US'
]
print(enumerate(tickers))

<enumerate object at 0x7f2f778c57d0>

In [ ]:
project_ids = {
    '01': 'open', 
    '03': 'in progress',
    '05': 'in progress',
    '04': 'completed'
}
print(list(set(project_ids.values())))

None

In [ ]:
users = {'001': 'Mark', '002': 'Monica', '003': 'Jacob'}
users.get('004', 'indefinite')

'indefinite'

In [ ]:
number = 1.0
if number.is_integer():
    print('YES')
else:
    print('NO')

YES

In [ ]:
project_ids = ['02134', '24253']
project_id = '02135'
if not project_id in project_ids:
  project_ids.append(project_id)
print(project_ids)

['02134', '24253', '02135']

In [ ]:
item = '001'
items = ['001', '000', '003', '005', '006']

 
if item in items:
    items.remove('001')
    
print(items)

['000', '003', '005', '006']

In [ ]:
s = ''
for i in range(10, 100):
    if i % 11 == 0:
        s = s + str(i) + ','
print(s[:-1])

11,22,33,44,55,66,77,88,99

In [ ]:
text = 'Python is a very popular programming language'
t = text.lower().split()
t = t[:4]
print(t)

['python', 'is', 'a', 'very']

In [ ]:
probabilities = [0.21, 0.91, 0.34, 0.55, 0.76, 0.02]
r = []
for x in probabilities:
    if x > 0.5:
        r.append(x)
print(r)

[0.91, 0.55, 0.76]

In [ ]:
items = ['x', 'y', 'z', 'y', 'x', 'y', 'y', 'z', 'x']
r = {}
for x in items:
    if x in r:
        r[x] += 1
    else:
        r[x] = 1
print(r)

{'x': 3, 'y': 4, 'z': 2}

In [ ]:
text = """Python is powerful... and fast
plays well with others
runs everywhere
is friendly & easy to learn
is Open
These are some of the reasons people who use 
Python would rather not use anything else"""

t = text.lower().split()
t = [word.replace('.', '').replace(',', '') for word in t]
t = [word for word in t if len(word) > 6]
print(t)

['powerful', 'everywhere', 'friendly', 'reasons', 'anything']

In [ ]:
indexes = [
    'BOVESPA', 'DOW JONES COMP', 'DOW JONES INDU',
    'DOW JONES TRANS', 'DOW JONES UTIL', 'IPC',
    'IPSA', 'MERVAL', 'NASDAQ COMP', 'NASDAQ100',
    'S&P500', 'S&P/TSX COMP'
]
r = []
for x in indexes:
    if x.count('DOW') > 0 or x.count('S&P') > 0:
        r.append(x)
print(r)

['DOW JONES COMP', 'DOW JONES INDU', 'DOW JONES TRANS', 'DOW JONES UTIL', 'S&P500', 'S&P/TSX COMP']

In [ ]:
c = 0
x = 2
while c < 10:
  for i in range(2, int(x/2)):
    if x % i == 0:
      c += 1
      print(x)
      break
  x += 1

6
8
9
10
12
14
15
16
18
20

In [ ]:
counter = 0
number = 2
prime = []
 
while counter < 10:
    for i in range(2, number):
        if number % i == 0:
            break
    else:
        prime.append(str(number))
        counter += 1
    number += 1
 
print(','.join(prime))

2,3,5,7,11,13,17,19,23,29

In [ ]:
for x in range(3):
    print(x)
else:
    print('Final x = %d' % (x))

0
1
2
Final x = 2

In [ ]:
pv = 1000
r = 0.04
cur = pv
y = 0

while cur < pv*2:
  cur *= 1 + r
  y += 1

print(f'Future value: {cur:.2f} USD. Number of periods: {y:.0f} years')

Future value: 2025.82 USD. Number of periods: 18 years

In [ ]:
max_iters = 10000
iters = 0
w_0 = -1
previous_step_size = 1
learning_rate = 0.01
precision = 0.000001
derivative = lambda w: 2 * w - 4

while previous_step_size > precision and iters < max_iters:
    w_prev = w_0
    w_0 = w_prev - learning_rate * derivative(w_prev)
    previous_step_size = abs(w_0 - w_prev)
    #print(w_0, w_prev, previous_step_size)
    iters += 1
 
print(f'A local minimum in point: {w_0:.2f}')

A local minimum in point: 2.00

In [ ]:
sum = 3000
counter = 0
try:
  sum/counter
except ZeroDivisionError:
  print('Division by zero.')

Division by zero.

In [ ]:
content = ['Date,Open,High,Low,Close,Volume',
 '2020-03-02,305,324.5,283.5,310,64081',
 '2020-03-03,325.5,340.5,320,340.5,55496',
 '2020-03-04,324,340.5,315,330,36152',
 '2020-03-05,344,344,310,315,35992',
 '2020-03-06,306.5,307,291,305,32539',
 '2020-03-09,274,291,250,258,79402',
 '2020-03-10,278,284.5,256,264,35700',
 '2020-03-11,270,270,238.5,245,60445',
 '2020-03-12,218,228,196,197,94031',
 '2020-03-13,210,229,198.8,211,100412',
 '2020-03-16,205,248,197.8,240.5,50659',
 '2020-03-17,245,269,232.5,264,99480',
 '2020-03-18,264,280,251,270,70136',
 '2020-03-19,267,280,267,279.5,30732',
 '2020-03-20,297.5,307,280,280.5,43426',
 '2020-03-23,274,289,258,285,37098',
 '2020-03-24,305,309,296.5,309,31939',
 '2020-03-25,313,330,295,304,46724',
 '2020-03-26,300,309,295.5,300,27213',
 '2020-03-27,302,306.5,290,296,13466',
 '2020-03-30,299,300,287,300,10316',
 '2020-03-31,302.5,309,302,306.5,15698']

vol = 0
date = ''
for id, line in enumerate(content):
  if id > 0 and int(line.split(',')[5]) > vol:
    vol = int(line.split(',')[5])
    date = line.split(',')[0]

print(f'Date: {date}')

Date: 2020-03-13

In [ ]:
numbers = list(range(2, 19, 2))
#print(numbers)
with open('num.txt', 'w') as file:
  for num in numbers:
    file.write(str(num) +'\n')

In [ ]:
import json

stocks = {'PLW': ['Playway', 350], 'BBT': ['Boombit', 22]}

json_object = json.dumps(stocks, indent = 4)
 
with open("stocks.json", "w") as outfile:
    outfile.write(json_object)

In [ ]:
import csv

headers = ['user_id', 'amount']
users = [['001', '1400'], ['004', '1300'], ['007', '900']]

with open('users.csv', mode='w') as employee_file:
    employee_writer = csv.writer(employee_file, delimiter=',', quotechar='"', quoting=csv.QUOTE_MINIMAL)

    employee_writer.writerow(','.join(headers) + '\n')
    for user in users:
      employee_writer.writerow(','.join(user) + '\n')

In [ ]:
number = 234
n = bin(number)
print(n.count('1'))

5

In [ ]:
def maximum(a, b, c):
    if a >= b and a >= c:
        return a
    else:
      if b >= a and b >= c:
        return b
      else:
        return c

In [ ]:
def factorial(n):
   if n == 1:
       return n
   else:
       return n * factorial(n-1)

factorial(6)

720

In [ ]:
def function(idx = 3, l=[]):
    print(idx, l)
    for i in range(idx):
        l.append(i ** 3)
        print(l)
    print('result:', l, '\n')
    
function(2)
function(4)
function(5, ['a', 'b', 'c'])
function(6)

2 []
[0]
[0, 1]
result: [0, 1]

4 [0, 1]
[0, 1, 0]
[0, 1, 0, 1]
[0, 1, 0, 1, 8]
[0, 1, 0, 1, 8, 27]
result: [0, 1, 0, 1, 8, 27]

5 ['a', 'b', 'c']
['a', 'b', 'c', 0]
['a', 'b', 'c', 0, 1]
['a', 'b', 'c', 0, 1, 8]
['a', 'b', 'c', 0, 1, 8, 27]
['a', 'b', 'c', 0, 1, 8, 27, 64]
result: ['a', 'b', 'c', 0, 1, 8, 27, 64]

6 [0, 1, 0, 1, 8, 27]
[0, 1, 0, 1, 8, 27, 0]
[0, 1, 0, 1, 8, 27, 0, 1]
[0, 1, 0, 1, 8, 27, 0, 1, 8]
[0, 1, 0, 1, 8, 27, 0, 1, 8, 27]
[0, 1, 0, 1, 8, 27, 0, 1, 8, 27, 64]
[0, 1, 0, 1, 8, 27, 0, 1, 8, 27, 64, 125]
result: [0, 1, 0, 1, 8, 27, 0, 1, 8, 27, 64, 125]

In [ ]:
def function(*args, **kwargs):
    print(args, kwargs)
    
function(3, 4)
function(x=3, y=4)
function(1, 2, x=3, y=4)

(3, 4) {}
() {'x': 3, 'y': 4}
(1, 2) {'x': 3, 'y': 4}

In [ ]:
def f(a, L=[]):
    L.append(a)
    return L

print(f(1))
print(f(2))
print(f(3))

[1]
[1, 2]
[1, 2, 3]

In [ ]:
def f(a, L = 0):
    L += a
    return L

print(f(1))
print(f(2))
print(f(3))

1
2
3

In [ ]:
x = 10
print(x, type(x), id(x))
# Получим (10, int, 140727505991744)
x = 12
print(x, type(x), id(x))
# Получим (12, int, 140727505991808)

10 <class 'int'> 11256352
12 <class 'int'> 11256416

In [ ]:
x = 'Прювет!'
print(x, type(x), id(x))
x = 'aaaaa'
print(x, type(x), id(x))
x = 'Прювет!'
print(x, type(x), id(x))

Прювет! <class 'str'> 140143383461760
aaaaa <class 'str'> 140143486587120
Прювет! <class 'str'> 140143383046048

In [ ]:
tuple1 = ([1, 1], 2, 3)
list1 = [(1, 1), 2, 3]
print(tuple1, id(tuple1))
# (([1, 1], 2, 3), [(1, 1), 2, 3])
tuple1[0][0] = 'Поменялся'
print(tuple1, id(tuple1))
# (['Поменялся', 1], 2, 3)

([1, 1], 2, 3) 140143488052912
(['Поменялся', 1], 2, 3) 140143488052912

In [ ]:
x = "Holberton"
y = "Holberton"
print(id(x))
print(id(y))
y = 'S'
print(id(y))
y = "Holberton"
print(id(y))

140143384726000
140143384726000
140143818372080
140143384726000

In [ ]:
def foo(lst = []):
    lst.append(1)
    return lst

l = foo()
k = foo()
print(id(l) == id(k))
print(l is k)

True
True

In [ ]:
def foo(lst=None):
    if lst is None:
        lst = []

    lst.append(1)
    return lst

foo()
foo()
lst = foo()
print(lst)  # [1]

my_list = [0]
lst = foo(my_list)
print(lst)  # [0, 1]

[1]
[0, 1]